<form
  id="<%- locals.formId %>"
  class="input-form"
  method="<%- locals.method %>"
>
  <div class="input-field">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      required
      value="<% if (locals.post.title) { %><%- locals.post.title %><% } %>"
    />
  </div>
  <div class="input-field">
    <label for="url">URL</label>
    <input
      type="text"
      name="slug"
      id="url"
      required
      value="<% if (locals.post.slug) { %><%- locals.post.slug %><% } %>"
    />
  </div>
  <div class="input-field">
    <label for="tags">Tags</label>
    <input
      type="text"
      name="tags"
      id="tags"
      required
      value="<% if (locals.post.getTagsString) { %><%- locals.post.getTagsString() %><% } %>"
    />
  </div>
  <div class="input-field">
    <label for="content">Content</label>
    <textarea name="content" id="content" cols="30" rows="10" required>
<% if (locals.post.content) { %><%- locals.post.content %><% } %></textarea
    >
  </div>
  <button class="btn grid-self-right" type="submit"><%- actionText %></button>
</form>

<script defer src="/js/post-form.js"></script>
