<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- locals.title %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <%- script %>
    <script type="module" src="/js/admin-panel.js"></script>
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <a class="logo-link" href="/">Blog Website</a>
        <nav class="main-nav">
          <a
            href="/admin/logout"
            class="main-nav-link <% if (locals.hideLogout) { %>hidden<% } %>"
            >Log Out</a
          >
        </nav>
      </div>
    </header>
    <% if (locals.containerClass) { %>
    <main class="<%- locals.containerClass %>"><%- body %></main>
    <% } else { %>
    <main class="container"><%- body %></main>
    <% } %>
  </body>
</html>
